body {
  background: #fff;
}
p {
  color: #777;
  font-size: 0.85rem;
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #e9e8e8;                                         
  margin-bottom: 15px;
  margin-top: 0;
}
h1, .h1 {font-size: 1.8rem;}
h2, .h2 {font-size: 1.4rem;}
h3, .h3 {font-size: 1.2rem;}
h4, .h4 {font-size: 1.1rem;}
h5, .h5 {font-size: 1rem;}
h6, .h6 {font-size: 0.9rem;}
h1.headline, .h1.headline {
  font-size: 3.8rem; 
  letter-spacing: -2.5px;
}
.text-size-20, .text-xxl-size-20, .text-size-25, .text-xxl-size-25,.text-size-30, .text-xxl-size-30,.text-size-40, .text-xxl-size-40,.text-size-50, .text-xxl-size-50, .text-size-60, .text-xxl-size-60,.text-size-70, .text-xxl-size-70, .text-size-80, .text-xxl-size-80, .text-size-90, .text-xxl-size-90, .text-size-100, .text-xxl-size-100 {line-height: 1.4;}
.text-size-20, .text-xxl-size-20 {font-size: 20px !important;}
.text-size-25, .text-xxl-size-25 {font-size: 25px !important;}
.text-size-30, .text-xxl-size-30 {font-size: 30px !important;}
.text-size-40, .text-xxl-size-40 {font-size: 40px !important;}
.text-size-50, .text-xxl-size-50 {font-size: 50px !important;}
.text-size-60, .text-xxl-size-60 {font-size: 60px !important;}
.text-size-70, .text-xxl-size-70 {font-size: 70px !important;}
.text-size-80, .text-xxl-size-80 {font-size: 80px !important;}
.text-size-90, .text-xxl-size-90 {font-size: 90px !important;}
.text-size-100, .text-xxl-size-100 {font-size: 100px !important;}                                                                                                                
.background-green .section-title:after, .primary-color-green .background-primary .section-title:after {color: #fff;}
.text-thin {font-weight: 300;}
b, strong, .text-strong {font-weight: 700;}
.text-extra-strong {font-weight: 800;}
blockquote::before {
  color: #e0e0e0;
  content: "“";
  display: block;
  float: left;
  font-family: georgia;
  font-size: 80px;
  height: 30px;
  left: -40px;
  position: relative;
  top: -20px;
  width: 0;
}
blockquote {
  border: 0;
  font-size: 1rem;
  padding: 0 0 0 40px;
}


.text-drop-cap {
  float: left;
  font-size: 65px;
  line-height: 45px;
  padding-right: 10px;
  padding-top: 5px;
}

table {
	background:none repeat scroll 0 0 #fff;
	border:0;
	font-size: 0.85rem;
  line-height: 1.6rem;
	}
table tr td, table tr th {padding:10px;}
table tfoot, table thead {
  background:none repeat scroll 0 0 #f5f5f5;
  border-top:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
}
table tr:nth-of-type(2n) {
  background:none repeat scroll 0 0 #f5f5f5;
  border-top:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
}
th {border-right:1px solid #fff;}
td {border-right:1px solid #fff;}


.background-none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0!important;
  border: 0;
}


.background-white, .background-white p, a.background-white, .background-white a, .background-white a:link, .background-white a:visited, .background-white a:hover, .background-white a:active {
  color: #ffffff;
} 
.background-dark, .background-dark p, a.background-dark, a.background-dark:visited, a.background-dark:link, .background-dark a, .background-dark a:link, .background-dark a:visited, .background-dark a:hover, .background-dark a:active,
.primary-color-dark .background-primary, .primary-color-dark .background-primary p, .primary-color-dark a.background-primary, .primary-color-dark a.background-primary:visited, .primary-color-dark a.background-primary:link, .primary-color-dark a.background-primary:visited, .primary-color-dark .background-primary a, .primary-color-dark .background-primary a:link, .primary-color-dark .background-primary a:visited, .primary-color-dark .background-primary a:hover, .primary-color-dark .background-primary a:active {
  color: #ffffff;
}
.background-white h1, .background-white h2, .background-white h3, .background-white h4, .background-white h5, .background-white h6,
.background-white .h1, .background-white .h2, .background-white .h3, .background-white .h4, .background-white .h5, .background-white .h6, 
.primary-color-white .background-primary h1, .primary-color-white .background-primary h2, .primary-color-white .background-primary h3, .primary-color-white .background-primary h4, .primary-color-white .background-primary h5, .primary-color-white .background-primary h6,
.primary-color-white .background-primary .h1, .primary-color-white .background-primary .h2, .primary-color-white .background-primary .h3, .primary-color-white .background-primary .h4, .primary-color-white .background-primary .h5, .primary-color-white .background-primary .h6 {
  color: #cacaca;
} 

.text-white, .text-white *, .primary-color-white .text-primary, .primary-color-white .text-primary * {
  color: #fff !important;
}
.text-orange, .text-orange *, .primary-color-orange .text-primary, .primary-color-orange .text-primary * {
  color: #E4A600 !important;
}
.text-red, .text-red *, .primary-color-red .text-primary, .primary-color-red .text-primary * {
  color: #363636 !important;
}
.text-blue, .text-blue *, .primary-color-blue .text-primary, .primary-color-blue .text-primary * {
  color: #b6b8b9 !important;
}
.text-aqua, .text-aqua *, .primary-color-aqua .text-primary, .primary-color-aqua .text-primary * {
  color: #545454 !important;
}

.text-white-hover:hover, .primary-color-white .text-primary-hover:hover {
  color: #fff !important;
}

.background-white, .primary-color-white .background-primary {
  background-color: #fff !important;
}

.background-blue, .primary-color-blue .background-primary {
  background-color: #3f3f3f !important;
}
.background-aqua, .primary-color-aqua .background-primary {
  background-color: #646464 !important;
}
.background-dark, .primary-color-dark .background-primary {
  background-color: #2b2b2b !important; 
}

.button:hover, a.button:hover, a.button:link:hover, a.button:visited:hover {
  box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.25) inset;
}

.section  { 
  padding: 6rem 1.25rem;
}
.section-small-padding  { 
  padding: 2.5rem 1.25rem;
}
.section-top-padding  { 
  padding: 6rem 1.25rem 0  1.25rem;
}
.section-top-small-padding  { 
  padding: 2.5rem  1.25rem 0  1.25rem;
}
.float-left {
  float: left;
}
.block-bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.padding {
  padding: 1.25rem!important;
}
.padding-2x {
  padding: 2.5rem!important;
}
.padding-3x {
  padding: 80px!important;
}
.full-width:after {
clear:both;
content:".";
display:block;
height:0;
line-height:0;
visibility:hidden;
}
.center {
  display: block!important;
}

